/* Footer and Header css */
.NCBox {
  background-color: #000;
  align-items: center;
  justify-content: right;
  display: flex;
  flex-direction: row;
}

.NCLogo {
  margin-right: auto;
  margin-top: 10px;
}

.NCLogoNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.NCNavigation {
  color: #fff;
  display: flex;
  flex-direction: row;
  width: auto;
  margin-left: auto;
}

.NCNavItem {
  width: auto;
  margin-left: 7px;
  margin-right: 7px;
  font-size: 1.125rem;
}

.FooterBox {
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}

/* Background */
.LandingPage {
  background-color: #011326;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.LPButtons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  align-self: center;
}

.LPButton {
  width: 250px;
  margin: 3px;
}

/* LOGIN PAGE */
.mg-top {
	margin-top: 80px;
}
div.text-center {
	box-sizing: border-box;
	color: #212529;
	font-family: Nunito, -apple-system, "system-ui", "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	letter-spacing: 1px;
	line-height: 24px;
	text-align: center;
}
.hr-text {
	background: linear-gradient(to right, transparent, #000000, transparent);
	line-height: 24px;
}

.spinner-container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spinner {
	width: 100px;
	height: 100px;
	border: 10px solid;
	border-color: #000 transparent #555 transparent;
	border-radius: 50%;
	animation: spin 1.2s linear infinite;
}

/* Main page */
.ver1AppBox {
  width: auto;
  height: max-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #0b1d4d;

}

.ver1AppBox {
  text-align: center;
}

.btnUnActiv {
  background-color: rgb(252, 252, 252);
}

.btnActiv {
  background-color: rgb(75, 196, 237);
}

.RangeViewerComponentPreflopAction {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.RangeViewerComponentPreflopActionAction, .RangeViewerComponentPreflopActionPlayer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 3px;
  margin-right: 3px;
}

.RangeViewerComponentRanges {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.RangeViewerComponentRangesRange {
  width: 300px;
  height: 300px;
  margin-right: 5px;
}

.rangeManual {
  width: 300px;
  height: 300px;
}

.titleRange {
  color: white;
}
